<!-- components/group-standings/group-standings.component.html -->
<div class="glass-card rounded-xl overflow-hidden shadow-sm">
  <table class="w-full text-left">
    <thead class="bg-surface-container-high">
      <tr>
        <th class="px-md py-sm font-label-md text-label-md text-on-surface-variant">Pos</th>
        <th class="px-md py-sm font-label-md text-label-md text-on-surface-variant">Team</th>
        <th class="px-md py-sm font-label-md text-label-md text-on-surface-variant text-center">
          PTS
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-outline-variant">
      <tr class="bg-primary/5">
        <td class="px-md py-md font-bold text-primary">1</td>
        <td class="px-md py-md flex items-center gap-sm">
          <div class="w-6 h-4 bg-gray-200 rounded-sm overflow-hidden">
            <img
              class="w-full h-full object-cover"
              src="https://lh3.googleusercontent.com/aida-public/AB6AXuDQIkOlmetHiCMXmj_-1Ht9BSgz39Q_l02kMVONiVsepO0cNof5QgoSHqg8dn_HQNAAxXxwhuxUA32IKnNvaF8LUYJIGNBPljzBsnX1WcPM9uttJKLaiQakqJyMqiVHgBP7wmNknGVYGCm-JlzPteTeDj9jT4SY7vsnew4QJsjh5gGsLPQfdaWSpwps0rTK_u8qg6CgFv2QjnmmORK4dNMTYdhNBnefrDRXGWp9fwn57I49N8g8tVunqNB8amPbjXNMFL2lumWfKDTx"
              alt="Argentina"
            />
          </div>
          <span class="font-bold text-label-md">Argentina</span>
        </td>
        <td class="px-md py-md text-center font-black text-primary">9</td>
      </tr>
      <tr>
        <td class="px-md py-md font-bold text-on-surface-variant">2</td>
        <td class="px-md py-md flex items-center gap-sm">
          <div class="w-6 h-4 bg-gray-200 rounded-sm"></div>
          <span class="font-bold text-label-md">Poland</span>
        </td>
        <td class="px-md py-md text-center font-bold text-on-surface">4</td>
      </tr>
      <tr>
        <td class="px-md py-md font-bold text-on-surface-variant">3</td>
        <td class="px-md py-md flex items-center gap-sm">
          <div class="w-6 h-4 bg-gray-200 rounded-sm"></div>
          <span class="font-bold text-label-md">Mexico</span>
        </td>
        <td class="px-md py-md text-center font-bold text-on-surface">3</td>
      </tr>
      <tr>
        <td class="px-md py-md font-bold text-on-surface-variant">4</td>
        <td class="px-md py-md flex items-center gap-sm">
          <div class="w-6 h-4 bg-gray-200 rounded-sm"></div>
          <span class="font-bold text-label-md">Saudi Arabia</span>
        </td>
        <td class="px-md py-md text-center font-bold text-on-surface">1</td>
      </tr>
    </tbody>
  </table>
  <div class="p-md bg-surface-container-low text-center">
    <button
      class="text-secondary font-bold text-label-md hover:underline flex items-center justify-center gap-xs mx-auto"
    >
      View Full Bracket <span class="material-symbols-outlined">trending_flat</span>
    </button>
  </div>
</div>
